@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/gilroy/Gilroy-Medium.eot');
    src: url('../fonts/gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/gilroy/Gilroy-Medium.woff') format('woff'),
        url('../fonts/gilroy/Gilroy-Medium.ttf') format('truetype'),
        url('../fonts/gilroy/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/gilroy/Gilroy-Light.eot');
    src: url('../fonts/gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/gilroy/Gilroy-Light.woff') format('woff'),
        url('../fonts/gilroy/Gilroy-Light.ttf') format('truetype'),
        url('../fonts/gilroy/Gilroy-Light.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/gilroy/Gilroy-Regular.eot');
    src: url('../fonts/gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/gilroy/Gilroy-Regular.woff') format('woff'),
        url('../fonts/gilroy/Gilroy-Regular.ttf') format('truetype'),
        url('../fonts/gilroy/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../fonts/gilroy/Gilroy-SemiBold.eot');
    src: url('../fonts/gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/Gilroy-SemiBold.woff2') format('woff2'),
        url('../fonts/gilroy/Gilroy-SemiBold.woff') format('woff'),
        url('../fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype'),
        url('../fonts/gilroy/Gilroy-SemiBold.svg#Gilroy-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Thin';
    src: url('../fonts/gilroy/Gilroy-Thin.eot');
    src: url('../fonts/gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/Gilroy-Thin.woff2') format('woff2'),
        url('../fonts/gilroy/Gilroy-Thin.woff') format('woff'),
        url('../fonts/gilroy/Gilroy-Thin.ttf') format('truetype'),
        url('../fonts/gilroy/Gilroy-Thin.svg#Gilroy-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../fonts/gilroy/Gilroy-ExtraBold.eot');
    src: url('../fonts/gilroy/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../fonts/gilroy/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/gilroy/Gilroy-ExtraBold.ttf') format('truetype'),
        url('../fonts/gilroy/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/gilroy/Gilroy-Bold.eot');
    src: url('../fonts/gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/gilroy/Gilroy-Bold.woff') format('woff'),
        url('../fonts/gilroy/Gilroy-Bold.ttf') format('truetype'),
        url('../fonts/gilroy/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


:root{
	--primary-font: 'Gilroy-Regular', sans-serif;
    --primary-font-thin: 'Gilroy-Thin', sans-serif;
    --primary-font-light: 'Gilroy-Light', sans-serif;
    --primary-font-medium: 'Gilroy-Medium', sans-serif;
    --primary-font-semibold: 'Gilroy-SemiBold', sans-serif;
    --primary-font-bold: 'Gilroy-Bold', sans-serif;
    --primary-font-extrabold: 'Gilroy-ExtraBold', sans-serif;

	--secondary-font: 'Rubik', sans-serif;
	--teritory-font: 'Inter', sans-serif;

    --fs-120: 120px;
	--fs-h: 56px;
	--fs-40: 40px;
	--fs-44: 44px;
	--fs-36: 36px;
	--fs-14: 14px;
	--fs-15: 15px;
	--fs-16: 16px;
	--fs-17: 17px;
	--fs-18: 18px;
	--fs-19: 19px;
	--fs-20: 20px;
	--fs-21: 21px;
	--fs-22: 22px;
	--fs-24: 24px;
	--fs-26: 26px;


	--white: #ffffff;

	--primary-txt: #161C2D;
    --secondary: #5A8400;
    --accent: #FFFBED;
    
    --dark: #060B13;
    --black: #000000;
    --gray: #323232;
    --gray-dark: #2b2b2b;
    --gray-light: #979FB4;
    --green-dark: #344C00;
    
    --bg-primary: #FFFBED;
    --bg-secondary: #FFF9E3;
    --bg-tertiary: #F1F7FF;
    --bg-accent: #DEE9AC;


	--fw-light:300;
	--fw-regular:400;
	--fw-medium:500;
	--fw-semi-bold:600;
	--fw-bold:700;
	--fw-extra-bold:800;
	--fw-black:900;

	--secGap: 80px;
}

*{-webkit-tap-highlight-color:transparent;}
html,body{scroll-behavior: smooth;}
body{text-rendering:optimizeSpeed;line-height:1.5;font-family:var(--primary-font);font-weight:400;}
body,h1,h2,h3,h4,h5,h6,p,ul,ul li{margin:0;padding:0;}
*,*::before,*::after{outline:none;box-sizing:border-box;scroll-behavior:smooth;}
*{margin:0;padding:0;}
input,button{-moz-appearance:none;-webkit-appearance:none;}
button{cursor:pointer;}
a:link,a:visited{text-decoration:none;border:none;outline:none;}
a:focus,
a:active,
button:focus,
button:active{outline:none;box-shadow:none;}
a:focus,button:focus{outline:none;outline-offset: 0px;}
img,picture,svg{max-width:100%;display:block;}
img,video{border:none;outline:none;width:100%;display:block;}
ul,ol{list-style:none;list-style-type:none;}
q{quotes:"\201C" "\201D" "\2018" "\2019";}
.desktop{display:block;}
.mobile{display:none;}
.helperSpan{display:inline-block;vertical-align:middle;width:1px;height:100%;}
.relative{position:relative;}
.absolute{position:absolute;}
.clr{clear:both;}
.floatLft{float:left;}
.floatRgt{float:right;}
.d-flex{display:flex;}
.gap0-5{gap:0.5em;}
.gap1{gap:1em;}
.flxFlwRwWrp{flex-flow:row wrap;}
.justContCent{justify-content:center;}
.justContStretch{justify-content:stretch;}
.justContSpBtw{justify-content:space-between;}
.justContflxEnd{justify-content:flex-end;}
.algnItmCent{align-items:center;}
.algnItmstretch{align-items:stretch;}
.algnItmEnd{align-items:flex-end;}
.inlineBlk{display:inline-block;vertical-align:middle;}
.table{display:table;}
.transition{transition:all 0.35s ease 0s;-moz-transition:all 0.35s ease 0s;-webkit-transition:all 0.35s ease 0s;}
.row{display:flex;justify-content:space-between;}
.flexdircol{flex-direction:column;}
.flexdirrow{flex-direction:row;}
.black{color:var(--Black);}
.white{color:var(--White);}
.sec_head{font-size:var(--Main_Heading);font-weight:var(--fw-bold);}
.card_head{font-size:var(--Sub_Heading);font-weight:var(--fw-bold);}
/* ======= containers ======= */
/* font weight */
.fw-black{font-weight:var(--fw-black);}
.fw-ex-bold{font-weight:var(--fw-extra-bold);}
.fw-bold{font-weight:var(--fw-bold);}
.fw-semi-bold{font-weight:var(--fw-semi-bold);}
.fw-medium{font-weight:var(--fw-medium);}
.fw-regular{font-weight:var(--fw-regular);}
.fw-light{font-weight:var(--fw-light);}
.ff-secondary{font-family:var(--primary-font);}
/* ======= containers ======= */
.col-10{width:10%;}
.col-20{width:20%;}
.col-30{width:30%;}
.col-40{width:40%;}
.col-50{width:50%;}
.col-60{width:60%;}
.col-70{width:70%;}
.col-80{width:80%;}
.col-90{width:90%;}
.col-100{width:100%;}
.textCenter{text-align:center;}
.textJustify{text-align:justify;}
.textLeft{text-align:left;}
.textRight{text-align:right;}
.textUp{text-transform:uppercase;}
.bg-transparent{background-color:transparent;}
.main-wrapper{max-width: 1660px;width:100%;margin:0 auto; padding: 0 30px;}
.wrapper1336{max-width: 1836px;width:100%;margin:0 auto;}
.wrapper1440{max-width: 1440px;width:100%;margin:0 auto;}
.wrapper1300{max-width: 1300px;width:100%;margin:0 auto;}
.wrapper1200{max-width: 1200px;width:100%;margin:0 auto;}
.wrapper1080{max-width: 1080px;width:100%;margin:0 auto;}
.sv-secGap{padding-block: var(--secGap);}
.sv-secGap_2x{padding-block: calc(var(--secGap) * 2);}
.min100vh{min-height: 100vh;}
.margiBot0-5em{margin-bottom:0.5em;}
.margiBot1em{margin-bottom:1em;}
.margiBot2em{margin-bottom:2em;}
.margiBot3em{margin-bottom:3em;}
.margiBot4em{margin-bottom:4em;}
.margiBot5em{margin-bottom:5em;}
.padd-bot0{padding-bottom:0;}
.marg-bot0{margin-bottom:0;}
.z-3{z-index: 3 !important;}

.no-scroll{overflow:hidden;touch-action:none;}
body.menu-open{overflow:hidden;}

/* ===== Scrollbar CSS ===== */
 /* Firefox */
 *{scrollbar-width:auto;scrollbar-color:var(--primary-950) var(--gray-200);}
/* Chrome,Edge,and Safari */
 *::-webkit-scrollbar{width:10px;}
*::-webkit-scrollbar-track{background:var(--gray-200);}
*::-webkit-scrollbar-thumb{background-color:var(--primary-950);border-radius:10px;border:3px solid #ffffff;}




.comBtn{width: max-content; padding: 12px 20px; background: linear-gradient(139.95deg, #DBA167 21.19%, #91602F 78.81%); border-radius: 88px; display: flex; justify-content: space-between; align-items: center; gap: 1em; line-height: 1.45; color: var(--white); font-family: var(--primary-font-bold);}
.comBtnWhite{width: max-content; padding: 12px 20px; background: var(--white); border-radius: 88px; display: flex; justify-content: space-between; align-items: center; gap: 1em; line-height: 1.45; color: #344C00; font-family: var(--primary-font-bold);}