@media screen and (max-width:1680px) {
}

@media screen and (max-width:1600px) {
    .main-wrapper{max-width: calc(1540px - 60px);}
}

@media screen and (max-width:1540px) {

    .psFooteBox4 {max-width: 297px;width: 100%;}
}


@media screen and (max-width:1500px) {
  
}

@media screen and (max-width:1400px) {
  
}

@media screen and (max-width:1366px) {
  
}

@media screen and (max-width:1300px) {
  
}

@media screen and (max-width:1280px) {
    .psFooteBox1 {max-width: 235px;width: 100%;}
    .psFooteBox2 {max-width: max-content; width: 100%;}
    .psFooteBox4 {max-width: 245px;width: 100%;}
    .psFooteBox5 {max-width: 300px;width: 100%;}
}

@media screen and (max-width:1200px) {
    :root{
        --fs-17: 16px;
    }

    .psFooterInfo{flex-wrap: wrap;}
    .psFooteBox1 {max-width: calc(16% - 5px);width: 100%;}
    .psFooteBox2 {max-width: max-content; width: 100%;}
    .psFooteBox3 {max-width: max-content; width: 100%;}
    .psFooteBox4 {max-width: calc(20% - 5px);width: 100%;}
    .psFooteBox5 {max-width: calc(25% - 5px);width: 100%;}
    .psFootMediaIcon > ul{gap: 1em;}
    .psNewLetterBox{padding: 15px 0;}
}

@media screen and (max-width:1130px) {
  
}

@media screen and (max-width:1024px) {
  
}

@media screen and (max-width:992px) {
  
}

@media screen and (max-width:820px) {
  
}

@media screen and (max-width:768px) {
  
}


@media screen and (max-width:550px) {
  
}
@media screen and (max-width:500px) {
  
}

@media screen and (max-width:428px){

  
}
@media screen and (max-width:414px){
  
}

@media screen and (max-width:395px){
  
}

@media screen and (max-width:375px) {
  
}
@media screen and (max-width:360px){
  
}