@media screen and (max-width:1728px) {
    .psCaseStudyWrapper {max-width: 1664px;margin-left: auto;}

    .psFootContactFrom{padding: 3.25em;}
}

@media screen and (max-width:1680px) {
    .psCaseStudyWrapper {max-width: 1640px;margin-left: auto;}
}

@media screen and (max-width:1600px) {
    .main-wrapper{max-width: calc(1540px - 30px); padding: 0 15px;}

    .psOurSolGallry{grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));}

    .psCaseStudyWrapper {max-width: 1536px;margin-left: auto;}
}

@media screen and (max-width:1536px) {
    :root{
        --fs-120: 110px;
        --fs-h: 49px;
        --fs-40: 34px;
        --fs-26: 22px;
        --fs-22: 20px;
    }

    .main-wrapper {max-width: calc(1470px - 30px);padding: 0 15px;}

    .psFooteBox4 {max-width: 297px;width: 100%;}   
    
    .psCounterItem{max-width: 325px;}

    .psWhoWeHeadImg{max-width: 40%; width: 100%;}
    .psWhoWeImgText {max-width: 50%;width: 100%;}
    .psText1Img{max-width: 380px;width: 100%;}
    .psIndusTypeItem{max-width: calc(220px - 38px);}
    .IndusTypeImg{width: 100px; height: 100px;}

    .psOurSolGallry {grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));}

    .psFootFormBox{max-width: 640px;}
}


@media screen and (max-width:1500px) {
  
}

@media screen and (max-width:1440px) {
    .main-wrapper{padding: 0 30px;}

    .psWhoWeImg{margin-top: 3.25em;}
    .psText1Img {max-width: 360px; width: 100%;}

    .IndusTypeImg{width: 75px; height: 75px; padding: 1.5em;}
    .psIndusTypeItem {max-width: calc(215px - 38px);} 

    .psOurSolGallry {grid-template-columns: repeat(auto-fit, minmax(415px, 1fr));}
}

@media screen and (max-width:1400px) {
    
}

@media screen and (max-width:1366px) {
    .psHeroImgVid {max-width: 580px;}

    .psCounterItem {max-width: 300px;}
    .psCounterImg{max-width: 125px;}

    .psOurSolGallry {grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));}
    .campaignsImg {max-width: 550px;}
}

@media screen and (max-width:1300px) {
  
}

@media screen and (max-width:1280px) {
    .psFooteBox1 {max-width: 235px;width: 100%;}
    .psFooteBox2 {max-width: max-content; width: 100%;}
    .psFooteBox4 {max-width: 245px;width: 100%;}
    .psFooteBox5 {max-width: 300px;width: 100%;}
}

@media screen and (max-width:1200px) {
    :root{
        --fs-17: 16px;
    }
    
    .psFooterInfo{flex-wrap: wrap;}
    .psFooteBox1, .psFooteBox2, .psFooteBox3, .psFooteBox4, .psFooteBox5 {max-width: calc(20% - 5px);width: 100%;}
    .psFootMediaIcon > ul{gap: 1em;}
    .psNewLetterBox{padding: 15px 0;}
}

@media screen and (max-width: 1180px){
    .psHeroTxt > h1 > span{line-height: normal; margin-bottom: 15px;}
    .psHeroTxt > p{margin-bottom: 15px;}
    .psHeroImgVid {max-width: 480px;}

    .psCounterImg {max-width: 80px;}
    .psCounterBox{gap: 15px;}
    
    .psWhoWeHeadImg > .comSecHead > h2{padding: 0;}
    .psText1Img {max-width: 300px;width: 100%;}
    .whoWeRightShape{max-width: 90px;}
    .psTextImg2{max-width: 160px;}

    .psIndusType { display: flex; justify-content: center; margin-top: 5em;flex-wrap: wrap;gap: 50px;}
    .psIndusTypeItem { max-width: calc(25% - 38px);}
    .psOurSolGallry {grid-template-columns: repeat(auto-fit, minmax(337px, 1fr));}

    .trustedBySliderRgtComment > p{line-height: 2;}

    .campaignsTxt{max-width: 50%;}
    .campaignsImg {max-width: 50%;}

    .latestUpdatesCards{gap: 2.25em;}

    .psIndusType{margin-top: 3em;}
}

@media screen and (max-width:1130px) {
    .psFooterInfo {row-gap: 30px; justify-content: space-between;}
    .psFooteBox1, .psFooteBox2, .psFooteBox3, .psFooteBox4 {max-width: calc(25% - 20px);width: 100%;}
    .psFooteBox5{max-width: 40%;}
    .psFootNewInput{width: 100%;}
}

@media screen and (max-width:1024px) {
    .header{background: var(--white); padding: 0.5em 0;}
    .menuSec {justify-content: end;display: flex;align-items: center;gap: 2em;}
    .menuIcon, .menuClose, .showInHamMenu {display: block;}
    .menuIcon{max-width: 40px; width: 100%; margin: 0;}
    .menuClose{max-width: 40px; margin-left: auto;}
    .menuCont {
        opacity: 0;
        align-items: start;
        position: fixed;
        z-index: 99;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        top: 0;
        right: -9999px;
        flex-direction: column;
        height: 100%;
        width: 100%;
        max-width: 400px;
        padding: 1em 1em 1em 2em;
        transition: all 0.5s;
    }
    .menuCont.active {opacity: 1;right: 0;}
    .headMenu > nav > ul {flex-direction: column;margin-bottom: 2em;margin-top: 3em; align-items: start;}
    .headMenu > nav {margin: 0; }
}

@media screen and (max-width:992px) {
  
}

@media screen and (max-width:950px) {
    .psFooterInfo {justify-content: start; column-gap: 19px;}
    .psFooteBox1, .psFooteBox2, .psFooteBox3, .psFooteBox4, .psFooteBox5 {max-width: calc(32% - 10px);width: 100%;}
}

@media screen and (max-width:820px) {
  
}

@media screen and (max-width:768px) {
  
}

@media screen and (max-width:610px) {
    .siteLogo {max-width: 110px;width: 100%;}
    .menuIcon {max-width: 35px;}

    .psFooterInfo {justify-content: start; column-gap: 20px; row-gap: 40px;}
    .psFooteBox1, .psFooteBox2, .psFooteBox3, .psFooteBox4, .psFooteBox5 {max-width: calc(50% - 10px);width: 100%;}
}


@media screen and (max-width:550px) {
  
}

@media screen and (max-width:500px) {
    .psFooteBox1, .psFooteBox2, .psFooteBox3, .psFooteBox4, .psFooteBox5 {max-width: calc(100% - 0px);width: 100%;}
}

@media screen and (max-width:428px){

  
}
@media screen and (max-width:414px){
  
}

@media screen and (max-width:395px){
  
}

@media screen and (max-width:375px) {
  
}
@media screen and (max-width:360px){
  
}