/* Header */
.header{padding-top: 16px; position: fixed; top: 0; z-index: 1000; transition: all 0.3s ease;}
.header.stickyHead {width: 100%;background: var(--white);box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 16px 0;}
.siteLogo{max-width: 131px; width: 100%;}
.contactBtnBox{width: max-content; }
.headerSec {display: flex; align-items: center;}
.headMenu  > nav{margin: auto;}
.headMenu  > nav > ul {display: flex; gap: 30px; align-items: center; justify-content: center;}
.headMenu  > nav > ul > li a{font-size: var(--fs-19); font-family: var(--primary-font-medium); line-height: 1.35; color: var(--primary-txt);}
.menu-overlay{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); z-index: 95;}
.menuIcon, .menuClose{display: none;}


.comSecHead > h5{font-family: var(--primary-font-medium); color: var(--secondary); letter-spacing: 1.63px; text-transform: uppercase; font-weight: var(--fw-regular); font-size: var(--fs-19); line-height: normal;  margin-bottom: 16px; text-align: center;}
.comSecHead > h2{font-family: var(--primary-font-medium); font-size: var(--fs-36); line-height: 48px; letter-spacing: -1.2px; text-transform: capitalize; color: var(--primary-txt); font-weight: var(--fw-regular); text-align: center;}
.comSecHead > h2 span{font-family: var(--primary-font-bold); color: var(--black);}

/* Footer */
.psFooter{padding-top: 7.56em;}
.psFooter::before{content: ""; width: 100%; height: 67%; position: absolute; inset: 0; top: auto; background-color: #000;} 
.psContactBoxWrapper{max-width: 1501px; margin: auto;}
.psFootContactFrom{background: linear-gradient(95.02deg, #628D06 19.7%, #9FDB1E 100.36%); padding: 3.25em 3.25em 3.25em 6.25em; border-radius: 2.5em; display: flex; justify-content: space-between; align-items: center;}
.psContactHeading {max-width: 477px; width: 100%;}
.psContactHeading > h2{font-size: var(--fs-44); color: var(--white); letter-spacing: -1.2px; line-height: 1.68em; font-family: var(--primary-font-medium); font-weight: var(--fw-regular); margin-bottom: 7px;}
.psContactHeading > p{font-family: var(--primary-font); font-size: var(--fs-22); font-weight: var(--fw-light); letter-spacing: -0.2px; line-height: 1.45; color: var(--white);}
.psContactHeadBtn{margin-top: 2.5em;}
.psFootFormBox{max-width: 592px; width: 100%; background-color: var(--white); border-radius: 12px; padding: 4px;} 
.psFootFormBox > form{border-radius: 12px; border: 1px solid #E9EBF1; height: auto; padding: 3em;}
.psFootmainForm > h3{font-size: var(--fs-20); letter-spacing: -0.33px; line-height: 1.6;}
.psInputWrapBox {display: flex;flex-wrap: wrap; gap: 16px 24px; margin-top: 2.25em;}
.psFormInput.col-50{max-width: calc(50% - 12px);}
.psFormInput > input, .psFormInput select, .psFormInput textarea{padding: 15px 14px; border-radius: 12px;  background-color: #F7F8FA; border: none; appearance: none; font-size: var(--fs-14); color: var(--black); font-family: var(--primary-font-medium); resize: none;}
.psFormInput select{color: var(--gray-light);}
.psFormInput > input::placeholder, .psFormInput select::placeholder, .psFormInput textarea::placeholder{font-size: var(--fs-14); color: var(--gray-light); font-family: var(--primary-font-medium);}
.psFormInput select{background-image: url('../images/selectArrow.png'); background-repeat: no-repeat;
background-position: 95%; background-size: 5%;}
.ftContactBtn > .comBtn{padding:  15px 52px;}
.psRgtEmailBox{bottom: 1em; right: 3em;}
.psRgtEmailBox > p{font-size: var(--fs-14); color: #979797; font-family: var(--primary-font-medium);}
.psRgtEmailBox > a{font-size: var(--fs-14); color: var(--black); font-family: var(--primary-font-medium);}


.psFooterInfo {display: flex; margin-top: 5em; margin-bottom: 1.75em; justify-content: space-between;}
.psFootBox > h3{color: var(--white); opacity: 65%; font-family: var(--fw-light); font-weight: var(--fw-light); letter-spacing: -0.1px; margin-bottom: 1.05em;}
.psFootBox > ul > li > a{color: var(--white);}
.psFootBox > ul > li > p{color: var(--white);}
.psFooteBox1{max-width: 274px; width: 100%;}
.psFooteBox2{max-width: 156px; width: 100%;}
.psFooteBox3{max-width: 177px; width: 100%;}
.psFooteBox4{max-width: 350px; width: 100%;}
.psFooteBox5{max-width: 304px; width: 100%;}
.psFootLogo{max-width: 68px; margin-bottom: 1.35em;padding-left: 1.18em;}
.psFootDesck{margin-bottom: 2.75em;}
.psFootDesck > p{font-family: var(--primary-font-light); font-size: var(--fs-15); line-height: 1.75; letter-spacing: -0.1px; color: var(--white); font-weight: var(--fw-light); opacity: 65%;}
.psFootMediaIcon > ul {display: flex; align-items: start;  gap: 1.5em;}
.psCompanyLinks > li a{font-size: var(--fs-17); font-family: var(--primary-font); font-weight: var(--fw-light); line-height: 2.5; letter-spacing: -0.2px;}
.psLocation li:not(:last-child){margin-bottom: 1em;}
.psLocAdd{color: #9d9d9d !important;}
.psFootNewLetter > li > h4{font-size: var(--fs-18); line-height: 1.95; color: var(--white); font-weight: var(--fw-regular); padding-right: 50px;}
.psFootNewLetter li:not(:last-child){margin-bottom: 15px;}
.psNewLetterBox{display: flex; padding: 21px 0; gap: 10px; align-items: center; border-bottom: 0.5px solid #fff;}
.psNewLetterBox > span:first-child {min-width: 18px;}
.psNewLetterBox > .psFootNewInput > form > input{background: transparent; border: none; color: var(--white); font-size: var(--fs-15); width: 100%;}
.psNewLetterBox > .psFootNewInput > form > input ::placeholder{font-size: var(--fs-15);}
.psNewLetterBox > .psFootNewInput > form{display: flex; align-items: center; justify-content: center;}
.psNewLetterBox > .psFootNewInput > form span button{width:max-content; background: transparent; border: none; color: #344C00; font-size: var(--fs-14); line-height: 30px; display: flex; align-items: center; justify-content: center; gap: 7px;}
.psBottomFooter {border-top: 1px solid #272B39; padding: 2.25em 0;}
.psBottomFooter > p{color: var(--white); font-size: var(--fs-16); text-align: center;}



.psHeroSection{background: var(--bg-primary); padding-top: 5.256em;}
.psHeroTxtInfo{display: flex; align-items: center;}
.psHeroTxt{max-width: 945px; width: 100%;}
.psHeroTxt > h1{font-size: var(--fs-h); margin-bottom: 30px; font-family: var(--primary-font-medium); font-weight: var(--fw-medium); letter-spacing: -0.75px;}
.psHeroTxt > h1 > span{line-height: 113px; letter-spacing: -0.75px; font-family: var(--primary-font-bold); font-weight: var(--fw-bold);}
.psHeroTxt > p{font-size: var(--fs-26); line-height: 1.75; margin-bottom: 30px;}
.psHeroImgVid{max-width: 664px;}


.psCouterSec{padding-top: 50px;}
.psCounterBox {display: flex; justify-content: space-between;}
.psCounterItem{max-width: 357px; width: 100%; display: flex; align-items: center; gap: 14px; background-color: #D6EDF3; border-radius: 30px; overflow-y: hidden;}
.psCounterTxt {display: flex; flex-direction: column; justify-content: center;}
.psCounterTxt > h2{font-size: var(--fs-40); font-family: var(--primary-font-bold); font-weight: var(--fw-regular); letter-spacing: -1.8px; line-height: 58px;}
.psCounterTxt > p{font-size: var(--fs-18); font-family: var(--primary-font-medium); line-height: 32px; letter-spacing: -0.2px; color: var(--primary-txt);}
.psWebCount{background-color: #FDD4CA;}
.psAppCount{background-color: #B8EBE8;}
.psLocationCount{background-color: #FFF3DB;}


.psLogoMarqueeBox {display: flex;flex-direction: column;}
.psMarquee-1{margin-bottom: 50px;}
.psMarquee1Box li{margin-inline: 4em;}
.psMarquee1Box > .slick-list > .slick-track{display: flex; align-items: center;}
.psMarquee2Box{direction:rtl;overflow:hidden;}
.psMarquee2Box li{margin-inline: 4em;}
.psMarquee2Box > .slick-list > .slick-track{display: flex; align-items: center;}

.psWhoWeHeadImg > .comSecHead > h5{text-align: left;}
.psWhoWeHeadImg > .comSecHead > h2{text-align: left; padding-right: 2.5em;}
.psWhoWeInfoBox{display: flex; justify-content: space-between; align-items: center;}
.psWhoWeHeadImg {max-width: 575px; width: 100%;}
.psWhoWeImg {margin-top: 4.25em;}
.psWhoWeImgText{max-width: 797px; width: 100%;}
.whoWeImges {margin-bottom: 3.25em;}
.psText1Img{max-width: 411px; width: 100%;}
.whoWeRightShape{max-width: 138px; width: 100%; position: absolute;top: -11%; right: -14%;}
.psTextImg2{max-width: 241px; width: 100%; position: absolute; right: 0; bottom: 51px;}
.whoWeText > p{font-size: var(--fs-19); font-family: var(--primary-font); line-height: 1.84; color: var(--primary-txt); font-weight: var(--fw-light); padding-right: 112px;}


.psIndusType {display: flex; justify-content: space-between; margin-top: 5em;}
.psIndusTypeItem {max-width: calc(234px - 34px); display: flex; flex-direction: column; justify-content: center; align-items: center; background: var(--bg-secondary); border-radius: 20px; padding: 26px 0;}
.IndusTypeImg {width: 116px;height: 116px;border-radius: 100%;background: var(--bg-accent);padding: 2em; margin-bottom: 1.5em;}
.psIndusTypeItem > p{font-size: var(--fs-22); font-family: var(--primary-font-medium); font-weight: var(--fw-regular); line-height: 34px; letter-spacing: -0.5px; text-align: center;}


/* .psOurSolGallry{display: flex; margin-top: 5em; flex-wrap: wrap; justify-content: space-between;}
.psOurSolItem{max-width: 500px; width: 100%;} */

/* .psOurSolGallry {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px; 
  margin-top: 5em;
  align-items: start;
  grid-auto-flow: dense;
}
/* .psOurSolItem {width: 100%;max-width: 500px;} */
/* .psOurSolItem {width: 100%;}
.psOurSolItem:nth-child(odd){grid-row: span 2;}
.psOurSolItem:nth-child(even){grid-row: span 3;} */
.psOurSolGallry{display: flex; justify-content: space-between; margin-top: 40px;}
.psSolItemBox{max-width: 31%; width: 100%;}
.psSolItemBox .psOurSolItem:nth-child(odd) img{aspect-ratio: 3/2; object-fit: cover;}
.psSolItemBox .psOurSolItem:nth-child(even) img{aspect-ratio: 25/27; object-fit: cover;}
.psSolItemBox2 .psOurSolItem:nth-child(odd) img{aspect-ratio: 25/27 ; object-fit: cover;}
.psSolItemBox2 .psOurSolItem:nth-child(even) img{aspect-ratio: 3/2; object-fit: cover;}
.psOurSolItem{margin-bottom: 20px;}
.ourSolText > p{
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  line-height: 1.7 !important;
  max-height: calc(1.7em * 1) !important;
  min-height: calc(1.7em * 1) !important;
}

.ourSolText > h3{
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  line-height: 1.4 !important;
  max-height: calc(1.4em * 1) !important;
  min-height: calc(1.4em * 1) !important;
}



.ourSolImg{border-radius: 20px; overflow: hidden; margin-bottom: 20px;}
.ourSolText{padding-left: 1.75em;}
.ourSolText > p{font-size: var(--fs-15); line-height: 1.7; letter-spacing: -0.1px; font-family: var(--primary-font); color: var(--primary-txt);}
.ourSolText > h3{font-size: var(--fs-24); font-family: var(--primary-font-bold); line-height: 1.4; letter-spacing: -0.5px;}
.psOurGallBtn{margin-top: 3em; text-align: center;}
.psOurGallBtn > .comBtn{margin: auto;}

.psWinnSec{background: url(../images/winbg.png) no-repeat center / contain; margin: 7em 0;}
.winImgUp{max-width: 153px; width: 100%; margin-right: 10em; border-radius: 28px; overflow: hidden; margin-block: 1em;}
.winMiddle h2{width: max-content !important; font-family: var(--primary-font-medium); font-size: var(--fs-120); color: var(--gray); white-space: nowrap; margin: 0 10px;font-weight: var(--fw-medium);}
.winMiddle > .slick-list > .slick-track{display: flex;}
.winImgDown{max-width: 222px; width: 100%; margin-left: 5.68em; border-radius: 28px; overflow: hidden; margin-block: 1em;}


/* Latest Update */
.latestUpdatesCardsBox{display: flex; gap: 52px; margin: 50px 0;}
.latestUpdatesCards{gap: 3.25em;margin-block: calc(var(--secGap) / 2);}
.latestUpdatesCard{border-radius: 20px;background-color: var(--bg-tertiary);overflow: hidden;transition: all 0.3s;}
.latestUpdatesCardImg{overflow: hidden;}
.latestUpdatesCardImg img{transition: all 0.3s;}
.latestUpdatesCard:hover .latestUpdatesCardImg img{transform: scale(1.1);}
.latestUpdatesCard:hover{box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}
.latestUpdatesCardTxt{padding: 1.5em;padding-bottom: 3.125em;}
.latestUpdatesCardTag > span{background-color: var(--green-dark);font-size: var(--fs-15);color: var(--white);padding: 0.4em 1.2em;float: left;border-radius: 50px;}
.latestUpdatesCardTag{margin-bottom: 1.1875em;}
.latestUpdatesCardTitle > *{font-size: var(--fs-22);color: var(--primary-txt);font-family: var(--primary-font-bold);}
.latestUpdatesCardDesc{margin-top: 1.05em;}
.latestUpdatesCardDesc > p{font-size: var(--fs-17);font-family: var(--primary-font-light);line-height: 1.875;color: var(--primary-txt);opacity: 0.7;}
.latestUpdatesBtn .comBtn{color: #91602F;}
.latestUpdatesBtn .comBtn span svg path{stroke: #91602F;}
.latestUpdatesBtn .comBtn{background: transparent; border:2px solid #91602F;}
/* .latestUpdatesBtn > a{} */

/* Best Campaigns */
.campaignsContent{background-color: var(--accent);border-radius: 30px;padding: 3.5em 7.8125em;gap: 2em;}
.campaignsTxt{max-width: 510px;}
.campaignsImg{max-width: 660px;}
.campaignsTitle > *{font-size: var(--fs-36);color: var(--primary-txt);}
.campaignsTitle > * > span{font-family: var(--primary-font-bold);}
.campaignsDesc{max-width: 450px;}
.campaignsDesc > p{font-size: var(--fs-18);color: var(--primary-txt);font-weight: var(--fw-light);line-height: 1.875;opacity: 0.7;margin-block: 1.666em;}
.campaigns{margin-bottom: 2.8em;}
.campaigns > li{gap: 1.375em;}
.campaigns > li:not(:last-child){margin-bottom: 0.9em;}

/* Video Section */
.videoContent > video, .videoContent > img{border-radius: 50px;}
.videoContent .absolute:has(span){top: 50%;left: 50%;transform: translate(-50%, -50%);backdrop-filter: blur(4px);background: rgba(255, 255, 255, 0.2);padding: 0.75em 1.25em;border: 1px solid rgba(255, 255, 255, 0.32);border-radius: 50px;}
.videoContent .absolute > span{font-size: var(--fs-14);font-family: var(--teritory-font);color: var(--white);font-weight: var(--fw-medium);}
.videoContent .absolute:has(img){max-width: 135px;width: 100%;z-index: -1;}
.videoContent .absolute.top{bottom: 94%;right: 50px;}
.videoContent .absolute.bottom{bottom: -6%;left: 50px;}

.psCaseStudyWrapper{max-width: 1735px; margin-left: auto;}
.caseStudySlideBox  .draggable{padding-right: 194px;}
.caseStudySlideBox{display: flex; padding-top: 70px;}
.caseStudyItem{border-radius: 10px; overflow: hidden; margin-right: 40px;} 
.caseClient1{ background-color: #1BAEE4;}
.caseClient2{ background-color: #6B00DE;}
.caseClient3{ background: linear-gradient(180deg, #087D42 0%, #36C980 100%);}
.caseClient4{ background-color: #02A9EC;}
.caseClient5{ background: linear-gradient(180deg, #FFBB4D 0%, #FF5353 100%);}
.caseStudyInfo{width: 100%; padding: 3.625em 1em 0; color: var(--white);}
.caseStudyInfo h3{font-size: var(--fs-20); line-height: 29px; letter-spacing: 0.5px; text-align: center; margin-bottom: 16px;}
.caseStudyInfo p{font-size: var(--fs-17); line-height: 29px; letter-spacing: 0.2px; text-align: center;}
.caseStudyImage {padding-top: 30px;}
.caseStudyImage > img {max-width: 80%;}
.caseStudyClient{max-width: 113px; width: 100%; position: absolute; top: 28%; right: 40px;}
.caseClient3 .caseStudyClient{max-width: 144px; width: 100%; position: absolute; top: 28%; right: 40px;}
.caseClient4 .caseStudyClient{max-width: 158px; width: 100%; position: absolute; top: 28%; right: 40px;}
.caseClient5 .caseStudyClient{max-width: 80px; width: 100%; position: absolute; top: 28%; right: 40px;}
.caseStudySlideBox .slick-dots{display: flex; max-width: 1600px; width: 100%;}
.caseStudySlideBox .slick-dots li{width: 100%; margin: 0;}
.caseStudySlideBox .slick-dots li button{width: 100%; height: 1px; border-radius: 0; border: none; background-color: #EDEDED; margin: 0; transition: all 0.5s linear;}
.caseStudySlideBox .slick-dots li.slick-active button {height: 5px; border-radius: 50px; background: #dadada;}

/* Our Technology */
.ourTech{margin-top: 5.6em;}
.ourTech > img{max-width: 1000px;margin-inline: auto;}



/* Trused By */
.trustedByBgImg{top: 0;left: 50%;transform: translateX(-50%);max-width: 1050px;}
.trustedByIcons{gap: 0.875em;margin-top: var(--secGap);}
.trustedByIcon{max-width: calc(16.66666666666667% - 0.875em);background-color: #F5F8FC;border-radius: 20px;}
.trustedBySliderRgtCommentor{gap: 0.875em;margin-top: 1.0625em;}
.trustedBySliderRgtCommentor .userIcon{max-width: 55px;border-radius: 100%;}
.trustedBySliderRgtCommentor .userInfo h6{font-family: var(--primary-font-medium);font-size: var(--fs-16);}
.trustedBySliderRgtCommentor .userInfo p{font-family: var(--primary-font);font-size: var(--fs-16);opacity: 0.7;}
.trustedBySliderLftTitle > *{font-size: var(--fs-36);color: var(--primary-txt);font-family: var(--primary-font);}
.trustedBySliderLftTitle > * > span{font-family: var(--primary-font-bold);color: var(--black);}
.trustedBySliders{gap: 6em;align-items: flex-start;}
.trustedBySliderLftDesc > p{font-size: var(--fs-16);color: var(--gray-dark);font-family: var(--gray-light);letter-spacing: 0.1019em;margin-top: 1.0625em;}
.trustedBySliderRgtComment > p{font-size: calc(var(--fs-20) + 1px);color: var(--primary-txt);opacity: 0.7;line-height: 2.3;font-family: var(--primary-font-medium);}
.trustedBySliderRgt{max-width: 43%;}
.trustedBySliderLft{max-width: 35%;}
.trustedBySliderLft.slick-slider button, .trustedBySliderRgt.slick-slider button{top: calc(100% + 41px + calc(58px / 2));width: 58px;height: 58px;border-radius: 100%;border: 1px solid #D0D0D0;background-size: 35px !important;}
.trustedBySliderLft.slick-slider button.slick-prev, .trustedBySliderRgt.slick-slider button.slick-prev{background-image: url(../images/sliderLftBtn.png);left: 0;}
.trustedBySliderLft.slick-slider button.slick-next, .trustedBySliderRgt.slick-slider button.slick-next{background-image: url(../images/sliderRgtBtn.png);left: calc(30px + 58px);}


/* marketing marquee */
.markMarqueeBox .slick-list .slick-track{display: flex; gap: 20px;}
.markMarqueeBox li{width: max-content !important; font-size: var(--fs-90); font-family: var(--primary-font-bold); color: var(--black); text-align: center;}
.markMarqueeBox li:nth-of-type(odd){color: #fff; -webkit-text-stroke: 1px #000; text-stroke: 1px #000;}