/* Header */
.header{padding-top: 16px;}
.siteLogo{max-width: 131px; width: 100%;}
.contactBtnBox{width: max-content; }
.headerSec {display: flex; align-items: center;}
.headMenu  > nav{margin: auto;}
.headMenu  > nav > ul {display: flex; gap: 30px; align-items: center; justify-content: center;}
.headMenu  > nav > ul > li a{font-size: var(--fs-19); font-family: var(--primary-font-medium); line-height: 1.35; color: var(--primary-txt);}
.menuIcon, .menuClose{display: none;}


/* Footer */
.psFooter::before{content: ""; width: 100%; height: 100%; position: absolute; inset: 0; top: auto; background-color: #000;} 
.psFooterInfo {display: flex; margin-top: 5em; margin-bottom: 1.75em; justify-content: space-between;}
.psFootBox > h3{color: var(--white); opacity: 65%; font-family: var(--fw-light); font-weight: var(--fw-light); letter-spacing: -0.1px; margin-bottom: 1.05em;}
.psFootBox > ul > li > a{color: var(--white);}
.psFootBox > ul > li > p{color: var(--white);}
.psFooteBox1{max-width: 274px; width: 100%;}
.psFooteBox2{max-width: 156px; width: 100%;}
.psFooteBox3{max-width: 177px; width: 100%;}
.psFooteBox4{max-width: 350px; width: 100%;}
.psFooteBox5{max-width: 304px; width: 100%;}
.psFootLogo{max-width: 68px; margin-bottom: 1.35em;padding-left: 1.18em;}
.psFootDesck{margin-bottom: 2.75em;}
.psFootDesck > p{font-family: var(--primary-font-light); font-size: var(--fs-15); line-height: 1.75; letter-spacing: -0.1px; color: var(--white); font-weight: var(--fw-light); opacity: 65%;}
.psFootMediaIcon > ul {display: flex; align-items: start;  gap: 1.5em;}
.psCompanyLinks > li a{font-size: var(--fs-17); font-family: var(--primary-font); font-weight: var(--fw-light); line-height: 2.5; letter-spacing: -0.2px;}
.psLocation li:not(:last-child){margin-bottom: 1em;}
.psLocAdd{color: #9d9d9d !important;}
.psFootNewLetter > li > h4{font-size: var(--fs-18); line-height: 1.95; color: var(--white); font-weight: var(--fw-regular); padding-right: 50px;}
.psFootNewLetter li:not(:last-child){margin-bottom: 15px;}
.psNewLetterBox{display: flex; padding: 21px 0; gap: 10px; align-items: center; border-bottom: 0.5px solid #fff;}
.psNewLetterBox > span:first-child {min-width: 18px;}
.psNewLetterBox > .psFootNewInput > form > input{background: transparent; border: none; color: var(--white); font-size: var(--fs-15);}
.psNewLetterBox > .psFootNewInput > form > input ::placeholder{font-size: var(--fs-15);}
.psNewLetterBox > span > button{width:max-content; background: transparent; border: none; color: #344C00; font-size: var(--fs-14); line-height: 30px; display: flex; align-items: center; justify-content: center; gap: 7px;}
.psBottomFooter {border-top: 1px solid #272B39; padding: 2.25em 0;}
.psBottomFooter > p{color: var(--white); font-size: var(--fs-16); }



